body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1e1e1e;
  color: #fff;
}

.launcher {
  width: 900px;
  height: 600px;
  margin: 50px auto;
  background-color: #333;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.title-bar {
  background-color: #2c2c2c;
  padding: 10px;
  text-align: center;
  color: #ddd;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  background-color: #242424;
  width: 200px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-right: 1px solid #333;
}

.profile {
  padding: 20px 10px;
  border-bottom: 1px solid #333;
  text-align: center;
}

.profile-name {
  font-weight: bold;
  display: block;
  font-size: 16px;
}

.profile-status {
  font-size: 12px;
  color: #00cc00;
  display: block;
  margin-top: 5px;
}

nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.nav-item:hover,
.nav-item.selected {
  background-color: #444;
}

.nav-icon {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.nav-text {
  font-size: 14px;
}

.main-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #202020;
}

.top-bar {
  background-color: #2c2c2c;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
}

.game-title {
  font-size: 18px;
  font-weight: bold;
}

.tabs {
  display: flex;
}

.tab {
  margin-left: 20px;
  cursor: pointer;
  color: #888;
  text-transform: uppercase;
  font-size: 14px;
  transition: color 0.2s;
}

.tab:hover,
.tab.selected {
  color: #00cc00;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #202020;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #048239 #035525;
}

.main-content::-webkit-scrollbar {
  width: 12px;
  background-color: #035525;
}
.main-content::-webkit-scrollbar-thumb {
  background-color: #048239;
  border-radius: 10px;
  border: 2px solid #4e4e50;
}

.main-content::-webkit-scrollbar-track {
  background-color: #035525;
}

.main-content::-webkit-scrollbar-thumb:hover {
  background-color: #127e3f;
}

.minecraft-image {
  width: 100%;
  height: auto;
}

.installations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #292929;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  border-top: 1px solid #333;
}

.custom-select-wrapper {
  position: relative;
  display: inline-block;
  width: 250px;
  z-index: 9999;
}

.custom-select {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "MinecraftRegular", sans-serif;
  font-size: 1em;
  padding: 7px;
  border: 2px solid #000;
  background-color: #048239;
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 4px #4e4e50;
  user-select: none;
  z-index: 9999;
}

.custom-select.open {
  border-radius: 5px 5px 0 0;
}

.custom-options {
  position: absolute;
  top: calc(100% + -238px);
  left: 0;
  right: 0;
  border: 2px solid #000;
  border-top: none;
  background-color: #035525;
  box-shadow: 4px 4px #4e4e50;
  z-index: 9999;
  display: none;
  border-radius: 0 0 5px 5px;
  color: #fff;
  max-height: 200px;
  overflow-y: auto;
  direction: rtl;
}

.custom-options.open {
  display: block;
}

.custom-options div {
  direction: ltr;
}

.custom-option {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #000;
  z-index: 9999;
}

.custom-option:last-child {
  border-bottom: none;
}

.custom-option:hover {
  background-color: #127e3f;
}

.custom-option img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.play-button {
  background-color: #00cc00;
  border: none;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.2s;
}

.play-button:hover {
  background-color: #00ff00;
}

.bottom-bar {
  background-color: #2c2c2c;
  padding: 10px 20px;
  text-align: right;
  color: #ddd;
  border-top: 1px solid #333;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

.username {
  font-size: 14px;
}

.news-item {
  padding: 10px;
}

.news-item li {
  padding-left: 20px;
}

.custom-options::-webkit-scrollbar {
  width: 12px;
  background-color: #035525;
}

.custom-options::-webkit-scrollbar-thumb {
  background-color: #048239;
  border-radius: 10px;
  border: 2px solid #4e4e50;
}

.custom-options {
  scrollbar-width: thin;
  scrollbar-color: #048239 #035525;
}

.custom-options::-webkit-scrollbar-track {
  background-color: #035525;
}

.custom-options::-webkit-scrollbar-thumb:hover {
  background-color: #127e3f;
}

.minecraft-button {
  background-color: #a9a9a9;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.minecraft-button:hover {
  background-color: #bdbdbd;
}

.minecraft-button:active {
  background-color: #8a8a8a;
}

.bottom-bar {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  background-color: #2c2c2c;
  color: #ddd;
  border-top: 1px solid #333;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

.version-label {
  margin-right: 10px;
}
.downloads {
  margin-top: 20px;
}

.download-link {
  display: block;
  background-color: #048239;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.download-link:hover {
  background-color: #00cc00;
}
#username-form {
  margin-top: 20px;
}

#username-input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
  background-color: #333;
  color: #fff;
}

.username-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #00cc00;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.username-button:hover {
  background-color: #00ff00;
}
