body {
  overflow: hidden;
  background-color: #1e1e1e;
  background-image: url("/images/loading.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 15vh;
}
